@model MenuProj.Models.Food.FoodTypesViewModel
@{
    ViewBag.Title = "Index";
}


<ul id="Hr-11">
    @foreach (var category in Model.FoodTypes)
    {
        <li>@Html.ActionLink(category, category)</li>
    }
</ul>

<h2>Index</h2>

