@model MenuProj.Models.Food.FoodTypesViewModel

<div class="menu">
    <ul class="categories">
        @foreach (var category in Model.FoodTypes)
            {
            <li>@Html.ActionLink(category, category)</li>
        }
    </ul>
</div>


