@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="table-responsive">
        <div class="menu">
            <div class="menu-column">
                <a href='@Url.Action("Index", "Food")'>
                    <img src="~/Content/Images/MainMenuButtons/dog-5.jpg" class="img-rounded">
                </a>
                <p class="menu-alphabet">Dishes</p>
            </div>
            <div class="menu-row">
                <img src="~/Content/drinks.jpg" class="menu-buttons" />
                <p class="menu-alphabet">Drinks</p>
            </div>
        </div>
    </div>
    </div>


