@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="table-responsive">
        <div class="menu">
            <div id="button-food-main">
                <a href='@Url.Action("Index", "Food")'>
                    <img src="~/Content/Images/MainMenuButtons/food.jpg" class="img-rounded">
                </a>
                <p class="menu-alphabet">Ястия</p>
            </div>
            <div id="button-drinks-main">
                <a href='@Url.Action("Index", "Food")'>
                    <img src="~/Content/Images/MainMenuButtons/drinks.jpg" class="img-rounded" />
                </a>
                <p class="menu-alphabet">Напитки</p>
            </div>
        </div>
    </div>
</div>


