@{
    ViewBag.Title = "Home Page";
}

<<<<<<< HEAD
<<<<<<< HEAD
<div class="jumbotron">
</div>
=======
<div class="wrapper">
    <div class="buttons">
        <div class="has-error">
>>>>>>> 1fc31196ee684f4cb68cce169e88e03563c5f60c
=======
<div class="wrapper">
    <div class="buttons">
        <div class="has-error">
>>>>>>> 1fc31196ee684f4cb68cce169e88e03563c5f60c

            </div>

        </div>
        <div class="menu">
            <div class="menu-column">  
                <a href='@Url.Action("About", "Home")'>
                    <img src="~/Content/Good_Food_Display_-_NCI_Visuals_Online.jpg" class="menu-buttons" />
                </a>
                <p class="menu-alphabet">Dishes</p>
            </div>
            <div class="menu-row">
                <img src="~/Content/drinks.jpg" class="menu-buttons" />
                <p class="menu-alphabet">Drinks</p>
            </div>
        </div>
    </div>
</div>


