@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <div class="buttons">
        <div class="has-error">

            </div>

        </div>
        <div class="menu">
            <div class="menu-column">  
                <a href='@Url.Action("About", "Home")'>
                    <img src="~/Content/Good_Food_Display_-_NCI_Visuals_Online.jpg" class="menu-buttons" />
                </a>
                <p class="menu-alphabet">Dishes</p>
            </div>
            <div class="menu-row">
                <img src="~/Content/drinks.jpg" class="menu-buttons" />
                <p class="menu-alphabet">Drinks</p>
            </div>
        </div>
    </div>
</div>


