body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: white;
}

.logo {
    margin: 0 auto;
    width: 80%;
    display: inline-block;
}

#logo-image {
    margin: auto;
    display: inline-block;
    width: 25%;
}

.img-rounded {
    width: 80%;
    height: 150px;
    background-color: yellow;
    -webkit-box-shadow: 5px 5px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 14px -1px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 14px -1px rgba(0,0,0,0.75);
    border-radius: 4%;
}

.menu {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    height: 80%;
}

.categories {
    list-style-type: none;
}

    .categories li {
        text-align: center;
        margin-top: 10px;
        padding-right: 40px;
        width: 100%;
    }

        .categories li a {
            text-decoration: none;
            font-size: 150%;
            font-family: Andalus;
            font-style: italic;
            color: #DE9A50;
        }


#button-food-main {
    width: 35%;
    float: left; /* add this */
    margin-left: 10%;
}

.table-responsive {
    text-decoration: none;
    border-collapse: collapse;
}

#button-drinks-main {
    width: 35%;
    margin-left: 10%;
    height: 100%;
    margin-right: 10%;
    display: inline-block;
}

.menu-item-span-first {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.menu-item-span {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid red;
    margin-top: 150px;
}

.menu-item {
    display: inline-block;
    border: 1px solid black;
    width: 60%;
    padding-bottom: 60px;
}

.menu .table img {
    width: 230px;
    height: 230px;
    border: 1px solid green;
    float: left;
}

.item-name{
    font-family:Arial;
    font-size:23px;
    color:#DB9543;
    font-style:italic;
    text-decoration:double;
    padding-bottom:5px;
}

.item-price {
    text-align: left;
}

.item-description {
    text-align: left;
}

.item-specific {
    text-align: left;
}
